[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
pypassgennyu = {version = "==1.0.0", index = "testpypi"}

[dev-packages]

[requires]
python_version = "3.10"
